.chat-bot{
    height: 100vh;
    background: url('../../assets/3D Car Image 3.jpg') no-repeat center top;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.815); /* Semi-transparent overlay color */
    background-blend-mode: overlay; /* Blends the background image with the color */
}

.container {
    display: flex;
    flex-direction: row;
    gap:40px;
}

.container-left, .container-right{
    padding: 20px;
    margin-top: 120px;
}

.container-left .image-container {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px dashed #ffffff94;
    background-color: rgba(41, 41, 67, 0.443);
    overflow: hidden;
}

.image-container img{
    height: 290px;
    width: auto;
}

.container-left .image-container p {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.68);
}

.input-form{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.input-form .user-input{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.user-input .dropdown{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    color: #fff;
}

.dropdown .part-select-menu{
    display: flex;
    flex-direction: column;
}

.dropdown .car-select-menu{
    display: flex;
    flex-direction: column;
}

.user-input .dropdown label{
    font-weight: bold;
    margin: 10px 0px;
}

.dropdown select {
    height: 40px;
    background-color: rgb(41 41 67); /* Semi-transparent background for select box */
    border: 2px solid white;
    padding: 5px;
    color: #fff;
}

.dropdown select option {
    background: rgba(2, 2, 33, 0.842); /* Semi-transparent background for options (may not work in all browsers) */
    color: #fff; /* Ensure text color contrasts with the background */
}

.user-input .prompt-input{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
}

.user-input .prompt-input label{
    font-weight: bold;
    margin: 10px 0px;
}

.user-input .prompt-input textarea{
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 20px;
    background-color:  rgba(2, 2, 33, 0.842);
    border: 2px groove white;
    color: #fff;
    padding: 20px;
    text-wrap:wrap;
}

button {
    border: none;
    color: #fff;
    background-color: rgb(165, 0, 254);
    width: 100px;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 5px;
}

.container-left .remark-holder{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.remark-holder span{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.remark-holder p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.remark-holder .statement{
    font-size: small;
    font-style: italic;
    margin-top: 8px;
}